# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual envs
venv/
.venv/
venv_stable/

# VS Code (optional)
.vscode/

# Inputs/outputs
*.mp3
*.wav
*.m4a
audio_chapter*/
venv_stable/



*_TRANSCRIPT*.txttest_output.txt
safe_test_output.txt
direct_transcription.txt
test_output.txt
